.sidebar {
  width: 240px;
  height: 100vh;
  background-color: rgb(180, 180, 180);
  padding-top: 1.6rem;
  box-shadow: 4px 0 12px rgba(0, 0, 0, 0.08);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6px);
  transition: all 0.3s ease;
}




a.mat-list-item {
  color: #3f3d56;
  font-weight: 500;
  padding: 0.8rem 1rem;
  margin: 0.3rem 1rem;
  border-radius: 10px;
  transition: background 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

a.mat-list-item:hover {
  background-color: #d1c4e9;
  transform: translateX(4px);
  color: #1a237e;
}

a.mat-list-item.active {
  background: linear-gradient(135deg, #b39ddb, #9575cd);
  color: #fff;
  box-shadow: 0 4px 10px rgba(81, 45, 168, 0.2);
  transform: scale(1.02);
}

a.mat-list-item mat-icon {
  color: inherit;
  font-size: 22px;
}
