<div class="document-container">
    <div class="header">
      <h2>Documents</h2>
      <!-- <button mat-raised-button color="primary" (click)="openUploadDialog()">Upload Document</button> -->
    </div>
  
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let doc">{{ doc.id }}</td>
      </ng-container>
  
   <ng-container matColumnDef="filename">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>File Name</th>
  <td mat-cell *matCellDef="let doc" class="filename-cell" [matTooltip]="doc.filename" matTooltipClass="my-custom-tooltip">
    {{ doc.filename.length > 20 ? (doc.filename | slice:0:20) + '...' : doc.filename }}
  </td>
</ng-container>


  
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Classified As</th>
        <td mat-cell *matCellDef="let doc">{{ doc.classified_as || '-' }}</td>
      </ng-container>
  
      <ng-container matColumnDef="routed">
        <th mat-header-cell *matHeaderCellDef>Routed To</th>
        <td mat-cell *matCellDef="let doc">{{ doc.routed_to || '-' }}</td>
      </ng-container>
  
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Uploaded Time</th>
        <td mat-cell *matCellDef="let doc">{{ doc.uploaded_time | date:'short' }}</td>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let doc">{{ doc.status }}</td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let doc">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
      
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="downloadDocument(doc.storage_path)">
              <mat-icon>download</mat-icon>
              <span>Download</span>
            </button>
      
            <button mat-menu-item (click)="viewProgress(doc)">
              <mat-icon>visibility</mat-icon>
              <span>View Progress</span>
            </button>
      
            <button mat-menu-item (click)="deleteDocument(doc.id)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
      
            <button mat-menu-item (click)="reprocess(doc.id)">
              <mat-icon>autorenew</mat-icon>
              <span>Reprocess</span>
            </button>
      
            <button mat-menu-item (click)="openRouteDialog(doc.id)">
              <mat-icon>send</mat-icon>
              <span>Route To</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      
      
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
  